@page "/"

<BSJumbotron>
    <BSMedia>
        <img style="border-radius:50%" Class="round-img" src="media\logo.gif" alt="Profile Picture"/>
        <h1>Welcome!</h1><br />
        This is site is wip
    </BSMedia>
</BSJumbotron>